
.XX {
    transform: translate(1312px, -200px);
    background-color: black;
    height: 40px;
    width: 200px;
    border-width: 0;
    color: whitesmoke;
}

.YY {


    height: 100px;
    padding-left: 150px;
    padding-top: 55px;
    font-weight: bold;
    color: whitesmoke;


}

.ZZ {
    transform: translate(500px, -230px);
    margin: 10px;
    color: whitesmoke;
    background-color: rgb(17, 163, 17);
    border-width: 0cap;

}

.bb {
    margin: 15px;
    color: whitesmoke;
    transform: translate(140px, 0px);
}
/* .slider{
    height: 250px;
    margin:auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.slide-track{
    display: flex;
    width:calc(250px *18);
    animation: scroll 40% linear infinite;
}
.slide-track:hover{
    animation-play-state: paused;
}
@keyframes scroll{
    0%{
        transform:translateX(0);
    }
    100%{
        transform: translateX(calc(-250px *9));
    }
}
.slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
img{
    width:100%;
}
img:hover{
    transform: translate(20px);
}
.slider::before, .slider::after{
    background: linear-gradient(to right,rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    content: " ";
    height: 100%;
    position: absolute;
    width: 15%;
    z-index:2
}
.slider::before{
    left:0;
    top:0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
} */

.more{
    display: none;
}
.readmore{
   background-color: black;
    color: aliceblue;
}
.text.show-more .more{
    display: inline;
}
.text.show-more .dots{
    
}
    