
<!-- <button routerLink="/auth/signup">click!</button> -->

<!-- <button routerLink="/auth/signup">click!</button> -->
<div style="background-color: green; height: 100px;">
    <h1 style=" font-size: 40PX;

font-weight: bolder;
color: whitesmoke; transform: translate(5px,20px);">HERB</h1>
    <h1 style="font-size: 40px; padding-inline: 6pc; transform: translate(15px,-35PX);font-weight: bold;">ALI</h1>
    <h1 style="transform: translate(165px,-132px);font-style: italic;font-size: 100px;">X</h1>
    <button class="XX">FREE DOWNLOAD</button>
</div>
<div style="background-color:rgb(17, 163, 17); height: 500px;">
    <h4 class="YY">AYURVEDHA</h4>
    <h2 style="padding-left: 150px; font-weight: bold; ">Make your food your medicine <br>and let your medicine be your
        food.</h2>
    <p style="padding-left: 150px; color: whitesmoke;"> Healthy food forms the foundation of a healthy body.</p>
    <br>
    <button routerLink="/auth/signup" class="bb"
        style="background-color: black; height: 50px; width: 100px;border-radius: 50px;border-width: 0ch;color: whitesmoke;">Get
        Started</button>
    <button class="bb" style="background-color:rgb(17, 163, 17);border-width: 0ch; ">> Watch Video</button>
    <!-- <button class="ZZ">Home</button> -->
   <div class="nav"><ul>
    <a href="#home">
        <li  class="sal">Home</li>
    </a>
    <a href="#about">
        <li class="sal">About</li>
    </a>
    <a href="#menu">
        <li class="sal">Food Menu</li>
    </a>
    <a href="#book">
        <li class="sal">Book Table</li>
    </a>
    <a href="#signup">
        <li class="sal">Sign-Up</li>
    </a>
</ul>
</div>

    <!-- <button class="ZZ">About</button></div>
    <button class="ZZ">Services</button>
    <button class="ZZ">Team</button>
    <button class="ZZ">Pricing</button>
    <button class="ZZ">Dropdown</button>
    <button class="ZZ">Contact</button> -->
    <button routerLink="/auth/signup" class="nav" style="background-color: black; height: 50px; width: 100px;border-radius: 50px;">Get
        Started</button>

        <section class="slider-container">
        <div class="slider-images">
            <div class="slider-img">
                <img src="../../assets/images/calendula.png" alt="1">
                <h3 style="left: -30%; ">Calendula</h3>
            </div>
            <div class="slider-img">
                <img src="../../assets/images/neem.png" alt="2" >
                <h3 style="left: 10%; ">Neem</h3>
            </div>
            <div class="slider-img">
                <img src="../../assets/images/aloe.png" alt="3" >
                <h3 style="left: -8%; ">Alovera</h3>
            </div>
            <div class="slider-img ">
                <img src="../../assets/images/ashwa.png" alt="4" >
                <h3 style="left: -60%; ">Ashwagandha</h3>
            </div>
            <div class="slider-img">
                <img src="../../assets/images/amla1.png" alt="5">
                <h3 style="left: 5%; ">Amla</h3>
                
            </div>
            <div class="slider-img">
                <img src="../../assets/images/tulsii.jpg" alt="6" >
                <h3 style="left: 5%;">Tulsi</h3>
            
            </div>
            <div class="slider-img">
                <img src="../../assets/images/gotukola.png" alt="7">
                <h3 style="left: -25%;">Gotukola</h3>
            </div>
            <div class="slider-img">
              <img src="../../assets/images/tur.png" alt="8" > 
              <h3 style="left: -20%;">Turmeric</h3>
            </div>
            <div class="slider-img">
                <img src="../../assets/images/ajwain.png" alt="9" > 
                <h3 style="left: -10%;">Ajwain</h3>
              </div>
              <div class="slider-img">
                <img src="../../assets/images/rosemary.png" alt="10" > 
                <h3 style="left: -25%;">Rosemary</h3>
              </div>
              <div class="slider-img">
                <img src="../../assets/images/cloves.png" alt="11" > 
                <h3>Cloves</h3>
              </div>
             
              
        </div>
        </section>
    
<h1 style="font-family: monospace;text-decoration:underline; text-align: center;"><b style="color: green;">About US</b></h1>
<img src="../../assets/images/animate.png" style="height: 700px;width: 600px; padding-top: 100px;" >
    <body>
       
    <div class="card">
        
        <input id="ch" type="checkbox">
    <p>
    Welcome to<b class="paru"> HERBALIX </b><br>
    Where our passion lies in the exploration and celebration of medicinal herbs and plants. Our journey began with a deep-rooted curiosity about the natural world and its incredible healing potential. We believe in harnessing the wisdom of nature to enhance well-being and foster a holistic approach to health ...
    <br><br>
    <div class="content">
     <p> <b class="paru">OUR MISSION</b><br>Is to uncover the secrets of medicinal herbs and plants, bringing their powerful benefits to the forefront of modern wellness. We strive to educate and inspire through meticulous research, sustainable practices, and a commitment to quality. By exploring ancient traditions and embracing innovative approaches, we aim to bridge the gap between time-honored wisdom and contemporary health practices.
        <br><br>
       At<b class="paru"> HERBALIX</b><br> We delve into the rich history and science of medicinal plants, offering valuable insights and resources to those seeking natural remedies and holistic health solutions. Our team of experts, researchers, and enthusiasts works diligently to provide you with accurate information, high-quality products, and personalized guidance.</p>
        <label for="ch">Read less <- </label>
    </div>
    <label for="ch">Read more -></label>
   
  </div></body>

  
       
<br><br><br><br>

</div>
<!-- <div class="slider">
    <div class="slide-track">
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
    </div>
</div> -->
