
<!-- <button routerLink="/auth/signup">click!</button> -->

<!-- <button routerLink="/auth/signup">click!</button> -->
<div style="background-color: green; height: 100px;">
    <h1 style=" font-size: 40PX;

font-weight: bolder;
color: whitesmoke; transform: translate(5px,20px);">HERB</h1>
    <h1 style="font-size: 40px; padding-inline: 6pc; transform: translate(15px,-35PX);font-weight: bold;">ALI</h1>
    <h1 style="transform: translate(165px,-132px);font-style: italic;font-size: 100px;">X</h1>
    <button class="XX">FREE DOWNLOAD</button>
</div>
<div style="background-color:rgb(17, 163, 17); height: 500px;">
    <h4 class="YY">AYURVEDHA</h4>
    <h2 style="padding-left: 150px; font-weight: bold; ">Make your food your medicine <br>and let your medicine be your
        food.</h2>
    <p style="padding-left: 150px; color: whitesmoke;"> Healthy food forms the foundation of a healthy body.</p>
    <br>
    <button class="bb"
        style="background-color: black; height: 50px; width: 100px;border-radius: 50px;border-width: 0ch;color: whitesmoke;">Get
        Started</button>
    <button class="bb" style="background-color:rgb(17, 163, 17);border-width: 0ch; ">Watch Video</button>
    <button class="ZZ">Home</button>
    <button class="ZZ">About</button>
    <button class="ZZ">Services</button>
    <button class="ZZ">Team</button>
    <button class="ZZ">Pricing</button>
    <button class="ZZ">Dropdown</button>
    <button class="ZZ">Contact</button>
    <button class="ZZ" style="background-color: black; height: 50px; width: 100px;border-radius: 50px;">Get
        Started</button>

<!-- </div>
<div class="slider">
    <div class="slide-track">
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
        <div class="slide">
            <h5>Neem</h5>
        </div>
    </div>
</div> -->







<div class="container"><h1 style="text-align: center; font-family: monospace;text-decoration:underline; padding-top: 1000px;"><b style="color: green;">About US</b></h1>
  <div class="row">
   
        <div class="col">

        </div>
        <div class="col" style="text-align: justify;"> <br>
            <p > Welcome to <b>HERBALIX</b>, where our passion lies in the exploration and celebration of medicinal herbs and plants. Our journey began with a deep-rooted curiosity about the natural world and its incredible healing potential. We believe in harnessing the wisdom of nature to enhance well-being and foster a holistic approach to health.</p> 
          <p ><b>Our mission</b> is to uncover the secrets of medicinal herbs and plants, bringing their powerful benefits to the forefront of modern wellness. We strive to educate and inspire through meticulous research, sustainable practices, and a commitment to quality. By exploring ancient traditions and embracing innovative approaches, we aim to bridge the gap between time-honored wisdom and contemporary health practices.
          </p>
              <p><span class="more">
                  What We Do At <b>HERBALIX</b>, we delve into the rich history and science of medicinal plants, offering valuable insights and resources to those seeking natural remedies and holistic health solutions. Our team of experts, researchers, and enthusiasts works diligently to provide you with accurate information, high-quality products, and personalized guidance.
              </span></p>
              <button class="readmore">Read More</button>
          </div>
    </div>
</div>