
 <div style="background-color: green; height: 100px;">
    <h1 style=" font-size: 40PX;

font-weight: bolder;
color: whitesmoke; transform: translate(5px,20px);">HERB</h1>
    <h1 style="font-size: 40px; padding-inline: 6pc; transform: translate(15px,-35PX);font-weight: bold;">ALI</h1>
    <h1 style="transform: translate(165px,-132px);font-style: italic;font-size: 100px;">X</h1>
    <button class="XX">FREE DOWNLOAD</button>
</div>
<div style="background-image: url('../../assets/images/new1.png.png');background-repeat: no-repeat;background-size: cover;height: 500px;" >
    
    <h4 class="YY">AYURVEDHA</h4>
    <h2 style="padding-left: 150px; font-weight: bold; ">Make your food your medicine <br>and let your medicine be your
        food.</h2>
    <p style="padding-left: 150px; color: whitesmoke;"> Healthy food forms the foundation of a healthy body.</p>
    <br>
    <button routerLink="/auth/signup" class="bb"
        style="background-color: black; height: 50px; width: 100px;border-radius: 50px;border-width: 0ch;color: whitesmoke;">Get
        Started</button>
    <button class="bb" routerLink="/auth/signin" style="background: none; border: 0ch;">> Watch Video</button> </div>

    <div class="ee">
    <a href="#home" class="ZZ">Home</a>
    <a href="#about" class="ZZ">About</a>
    <a href="#services" class="ZZ">Services</a>
    <a href="#team" class="ZZ">Team</a>
    <a routerLink="home/dashboard" href="#pricing" class="ZZ">Pricing</a>
    <a href="#dropdown" class="ZZ">Dropdown</a>
    <a href="#contact" class="ZZ">Contact</a>

</div>

<div style="transform: translate(300px,-300px);">
    
</div>
    <section class="slider-container">
        <div class="slider-images">
            <div class="slider-img">
                <img src="../../assets/images/calendula.png" alt="1">
                <h3 style="left: -30%; ">Calendula</h3>
            </div>
            <div class="slider-img">
                <img src="../../assets/images/neem.png" alt="2">
                <h3 style="left: 10%; ">Neem</h3>
            </div>
            <div class="slider-img">
                <img src="../../assets/images/aloe.png" alt="3">
                <h3 style="left: -8%; ">Alovera</h3>
            </div>
            <div class="slider-img ">
                <img src="../../assets/images/ashwa.png" alt="4">
                <h3 style="left: -60%; ">Ashwagandha</h3>
            </div>
            <div class="slider-img">
                <img src="../../assets/images/amla1.png" alt="5">
                <h3 style="left: 5%; ">Amla</h3>

            </div>
            <div class="slider-img">
                <img src="../../assets/images/tulsii.jpg" alt="6">
                <h3 style="left: 5%;">Tulsi</h3>

            </div>
            <div class="slider-img">
                <img src="../../assets/images/gotukola.png" alt="7">
                <h3 style="left: -25%;">Gotukola</h3>
            </div>
            <div class="slider-img">
                <img src="../../assets/images/tur.png" alt="8">
                <h3 style="left: -20%;">Turmeric</h3>
            </div>
            <div class="slider-img">
                <img src="../../assets/images/ajwain.png" alt="9">
                <h3 style="left: -10%;">Ajwain</h3>
            </div>
            <div class="slider-img">
                <img src="../../assets/images/rosemary.png" alt="10">
                <h3 style="left: -25%;">Rosemary</h3>
            </div>
            <div class="slider-img">
                <img src="../../assets/images/cloves.png" alt="11">
                <h3>Cloves</h3>
            </div>


        </div>
    </section>
    
    <div id="about">
        <div #aboutSection>
        <h1 style="text-decoration:underline; text-align: center;"><b style="color: green;">About
                US</b></h1>
        <img src="../../assets/images/animate.png" style="height: 700px;width: 600px; padding-top: 100px;">

        <body>

            <div class="card">

                <input id="ch" type="checkbox">
                <p>
                    Welcome to<b class="paru"> HERBALIX </b><br>
                    Where our passion lies in the exploration and celebration of medicinal herbs and plants. Our journey
                    began with a deep-rooted curiosity about the natural world and its incredible healing potential. We
                    believe in harnessing the wisdom of nature to enhance well-being and foster a holistic approach to
                    health ...
                    <br><br>
                <div class="content">
                    <p> <b class="paru">OUR MISSION</b><br>Is to uncover the secrets of medicinal herbs and plants,
                        bringing their powerful benefits to the forefront of modern wellness. We strive to educate and
                        inspire through meticulous research, sustainable practices, and a commitment to quality. By
                        exploring ancient traditions and embracing innovative approaches, we aim to bridge the gap
                        between time-honored wisdom and contemporary health practices.
                        <br><br>
                        At<b class="paru"> HERBALIX</b><br> We delve into the rich history and science of medicinal
                        plants, offering valuable insights and resources to those seeking natural remedies and holistic
                        health solutions. Our team of experts, researchers, and enthusiasts works diligently to provide
                        you with accurate information, high-quality products, and personalized guidance.
                    </p>
                    <label for="ch">Read less <- </label>
                </div>
                <label for="ch">Read more -></label>

            </div>
        </body>
    </div>
    </div>
    <br><br><br><br>
    <div id="services" >
        <div #servicesSection>
    <h1 style="text-decoration:underline; text-align: center;transform: translate(0px,-350px);"><b style="color: green;">Services</b></h1>
<body>
    <div class="cover">
    <div class="box ">
        <div class="backgroun">
    
        <h4 class="xyz"><b>Custom Herbal Formulations</b></h4>
        <p class="aaa">Experience the benefits of personalized herbal remedies with our custom formulation service. We create bespoke herbal blends based on your individual health profile and wellness goals.<br><br>
 <b>Personalized Blends:</b> Custom-tailored herbal formulas designed to address your specific health concerns.<br><br><b>Premium Quality Ingredients:</b> We use only the finest, ethically-sourced herbs to ensure the highest efficacy.</p>
        
    </div></div>

    <div class="box">
          <div class="background"> 
        <h4 class="xyz"><b>Herbal Consultations</b></h4>
        <p class="aaa">Our certified herbalists offer personalized consultations to help you address your unique health concerns. Whether you’re looking to manage stress, improve digestion, or boost your energy levels, our expert team will craft a tailored herbal regimen to meet your needs. <br><br><b>Initial Consultation:</b> A comprehensive assessment to understand your health history, goals, and preferences.</p>
    </div>
    </div>
    <div class="box">
        <div class="back">
        <h4 class="xyz"><b>Wellness Workshops and Classes</b></h4>
        <p class="aaa">Join our workshops and classes to deepen your understanding of herbal medicine and holistic health practices. Our sessions cover a range of topics, from basic herbal remedies to advanced wellness techniques.
 <br><br><b>Herbal Medicine Basics: </b>Learn the fundamentals of herbal medicine and how to incorporate herbs into your daily routine.</p>
</div>
    </div>
    <div class="box">
        <div class="backgro">
        <h4 class="xyz"><b>Herbal Product Line</b></h4>
        <p class="aaa"><b>Tinctures and Extracts:</b> Concentrated herbal solutions for targeted health benefits.<br><br>
           <b>Herbal Teas:</b> Delicious and soothing blends crafted to support relaxation and wellness.<br><br>
            <b>Capsules and Supplements:</b> Convenient, ready-to-use herbal supplements for daily health support.
            Topical Remedies: Herbal-infused skincare and wellness products for external use.</p>
        </div>
    </div>
</div>
</body>
</div>
</div>

<div>
    <div id="team" >
        <div #teamSection>
    <h1 style="text-decoration:underline; text-align: center;transform: translate(0px,-300px);"><b style="color: green;">Our Team</b></h1>
    <div class="container">
        <div class="row - 9">
            <div class="col">
                <img src="../../assets/images/sus.png" style="height: 200px;width: 200px; border-radius: 100px;border-color: black; border-style:solid;border-width: 5px;">
                <h5 style="padding-left: 40px;">SUSMITHA M</h5>
                <P style="padding-left: 55px;">Team Leader</P>
            </div>
            <div class="col">
                <img src="../../assets/images/shunil.jpeg" style="height: 200px;width: 200px; border-radius: 100px;border-color: black; border-style:solid;border-width: 5px;">
                <h5 style="padding-left: 60px;">SHUNIL V</h5>
                <P style="padding-left: 50px;">Team Member</P>
            </div>
            <div class="col">
                <img src="../../assets/images/swe.png" style="height: 200px;width: 200px; border-radius: 100px;border-color: black; border-style:solid;border-width: 5px;">
                <h5 style="padding-left: 45px;">SWETHA S M</h5>
                <P style="padding-left: 55px;">Team Member</P>
            </div>
            <div class="col">
                <img src="../../assets/images/san.png" style="height: 200px;width: 200px; border-radius: 100px;border-color: black; border-style:solid;border-width: 5px;">
                <h5 style="padding-left: 45px;">SANMITHA K</h5>
                <P style="padding-left: 55px;">Team Member</P>
            </div>
            <div class="col">
                <img src="../../assets/images/kalai.png" style="height: 200px;width: 200px; border-radius: 100px;border-color: black; border-style:solid;border-width: 5px;">
                <h5 style="padding-left: 35px;">KALAI SELVAN P</h5>
                <P style="padding-left: 50px;">Team Member</P>
            </div>
        </div>
    </div>
</div></div>

<div style="transform: translate(0px,-100px);">
    <div class="slider">
    <div class="slide-track">
        <div class="slide">
            <img src="../../assets/images/cloves.png" alt="">
        </div>
        <div class="slide">
            <img src="../../assets/images/nelli.png" alt="">
        </div>
        <div class="slide">
            <img src="../../assets/images/aloe.png" alt="">
        </div>
        <div class="slide">
            <img src="../../assets/images/ashwa.png" alt="">
        </div>
        <div class="slide">
            <img src="../../assets/images/rosemary.png" alt="">
        </div>
        <div class="slide">
            <img src="../../assets/images/tulsii.jpg" alt="">
        </div>
        <div class="slide">
            <img src="../../assets/images/tur.png" alt="">
        </div>
        <div class="slide">
            <img src="../../assets/images/gotukola.png" alt="">
        </div>
        <div class="slide">
            <img src="../../assets/images/calendula.png" alt="">
        </div>
        <div class="slide">
            <img src="../../assets/images/cloves.png" alt="">
        </div>
        <div class="slide">
            <img src="../../assets/images/nelli.png" alt="">
        </div>
        <div class="slide">
            <img src="../../assets/images/aloe.png" alt="">
        </div>
        <div class="slide">
            <img src="../../assets/images/ashwa.png" alt=""> 
        </div>
        <div class="slide">
            <img src="../../assets/images/rosemary.png" alt="">
        </div>
        <div class="slide">
            <img src="../../assets/images/tulsii.jpg" alt="">
        </div>
        <div class="slide">
            <img src="../../assets/images/tur.png" alt="">
        </div>
        <div class="slide">
            <img src="../../assets/images/gotukola.png" alt="">
        </div>
        <div class="slide">
            <img src="../../assets/images/calendula.png" alt="">
        </div>
        
    </div>
</div>

</div>


<div style="background-color: green; height: 100px;"></div>
    <h1 style=" font-size: 40PX;

font-weight: bolder;
color: whitesmoke; transform: translate(5px,-150%);">HERB</h1>
    <h1 style="font-size: 40px; padding-inline: 6pc; transform: translate(15px,-128PX);font-weight: bold;">ALI</h1>
    <h1 style="transform: translate(165px,-225px);font-style: italic;font-size: 100px;">X</h1>

<div id="contact" >
    <div #contactSection>
<div class="container" >
<div class="row">
<div class="col-4">
        <h2 class="swe">HERBALIX</h2>
        A108 Adam Street <br>
        Chennai, CH 535022<br><br>
       <b>Phone:</b> +91 8808812065<br>
<b>Email:</b> herbalix.com
</div>
<div class="col-4">
   <h2 class="swe">Useful links</h2> 
   <ul>
    <li> Home </li>
    <li> About Us </li>
    <li> Services </li>
    <li> Team </li>
    <li> Pricing </li>
</ul>
</div>
<div class="col-4">
    <h2 class="swe">Our Services</h2>
    <ul>
        <li> Custom Herbal Formulations </li>
        <li> Herbal Consultations </li>
        <li> Wellness Workshops and Classes </li>
        <li> Herbal Product Line </li>

    </ul>
    
</div>
</div>
</div>
</div>
</div>
</div>

<div style="text-align: center;">
(c) Copyright <b>Herbalix</b> All Rights Reserved
<br>
Designed by <b style="color:skyblue;" >BootstrapMade </b>
</div>
