@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");

.XX {
    transform: translate(1312px, -200px);
    background-color: black;
    height: 40px;
    width: 200px;
    border-width: 0;
    color: whitesmoke;
}

.YY {


    height: 100px;
    padding-left: 150px;
    padding-top: 55px;
    font-weight: bold;
    color: whitesmoke;


}

.nav {
    transform: translate(800px, -285px);
    margin: 10px;
    color: whitesmoke;
    /* background-color: rgb(17, 163, 17); */
    border-width: 0cap;

   


}
.sal{
    color: whitesmoke;
    display: inline;
    margin: 2%;
    
}

.bb {
    margin: 15px;
    color: whitesmoke;
    transform: translate(140px, 0px);
    border-radius: 30px;
    height: 40px;
    border-style: solid;
}
.slider{
    height: 250px;
    margin:auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.slide-track{
    display: flex;
    width:calc(250px *18);
    animation: scroll 40s linear infinite;
}
.slide-track:hover{
    animation-play-state: paused;
}
@keyframes scroll{
    0%{
        transform:translateX(0);
    }
    100%{
        transform: translateX(calc(-250px *9));
    }
}
.slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
img{
    width:100%;
    transition: transform 1s;
    height: 100%;
}
img:hover{
    transform:translateZ(20px);
}
.slider::before, .slider::after{
    background: linear-gradient(to right,rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index:2;
}
.slider::before{
    left:0;
    top:0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}


.slider-container{
   width: 100%;
   height: 100vh; 
   
    display:flex;
    align-items: center;
    justify-content: center;
}
 .slider-images{
  display:flex;
  align-items: center;
  gap: 21px;
}
.slider-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}
.slider-img{
    width: 110px;
    border-radius: 6px;
    cursor: pointer;
    position:relative;

}
.slider-images .slider-img:first-child, .slider-images .slider-img:last-child{
    height: 250px;
}
.slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(10){
    height: 350px;
}
.slider-images .slider-img:nth-child(3), .slider-images .slider-img:nth-child(9){
    height: 450px;
}
.slider-images .slider-img:nth-child(4), .slider-images .slider-img:nth-child(8),.slider-images .slider-img:nth-child(6){
    height: 550px;
}
.slider-images .slider-img:nth-child(5), .slider-images .slider-img:nth-child(6),.slider-images .slider-img:nth-child(7){
    height: 650px;
}
h3{
    font-size: 30px;
    font-weight: 700;
   text-align: left;
   text-transform: uppercase;
   color: white;
   position: absolute;
   top: 50%; 
   transform: rotate(270deg);
}

  .card{
    background-color: green;
    width:800px;
    padding: 22px 30px;
    border-radius: 5px;
    line-height: 1.8;
    height:20%;
    color: whitesmoke;
    transform: translate(0px,-650px);
  }
  #ch{
    display: none;
  }
  body{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-left: 600px;
    
  }
  
  #ch:checked ~ .content{
    display: block;
  }
  #ch:checked ~ label{
    display: none;
  }

  .content{
    display: none;
    
  }

  label{
    display: inline-block;
    cursor: pointer;
    color:whitesmoke;
    background-color: black;
    padding:3px 13px;
    border-radius: 50px;
    margin-top: 12px;
    width: 125px;

  }
  .paru{
    font-size: 20px;
    color: black;
    text-decoration: underline;
  }
   .ee{
    transform: translate(600px,-550px); 
    
   }
   a:hover{

    color:white;
   }
   .ZZ{
      margin: 15px;
    color: black;
    font-weight: bold;
    font-size:20px;
   }
   .navigation a:hover {
    text-decoration: underline;

  }
  html {
    scroll-behavior: smooth;
}
.cover{
    width: 150%;
    height: 500px;
    margin-top: -20px;
    display: flex;

}
.box{
    /* margin: 10px; */
    width: 450px;
    height:400px;
   transform: translate(-300px,-300px);
   
    box-shadow:-5px 0 20px; 
    border-radius: 20px;
}
.xyz{
    padding-top: 20px;
    text-align: center;
    position: relative;
}
.aaa{
    
    padding: 15px;
    text-align: center;
    position: relative;
    
}
.container{
    transform: translate(0px,-200px);
}
h5{
    text-align:left;
}
.background::before{
    content: '';
    background-image: url('../../assets/images/consulaa.png.png');
    opacity: 0.35;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
}
.back::before{
    content: '';
    background-image: url('../../assets/images/well1.png');
    opacity: 0.35;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
} 
.backgro::before
{
    content: '';
    background-image: url('../../assets/images/produ.png');
    opacity: 0.35;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.backgroun::before{
    content: '';
    background-image: url('../../assets/images/h1.png');
    opacity: 0.35;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

} 
.swe{
    text-decoration: underline;
    padding-left: 100px;
}
.bb {
    background-color: green; /* Default color */
    color: white; /* Default text color */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.bb:hover {
    background-color: black; /* Color when hovered */
    color: white; /* Text color when hovered */
}
.basha{
    color: white;
}
a:hover{

    color:black;
   }