<!-- header -->
<div style="background-color: rgb(17, 163, 17)" class="header">
  <div class="header-container">
    <h2 class="first">HERB</h2>
    <h4 class="second">ALI</h4>
    <h1 class="third">X</h1>
  </div>

  <header>
    <nav class="navigation">
      <a style="color: white;" routerLink="/">Home</a>
      <a style="color: white;" routerLink="/">About</a>
      <a style="color: white;" routerLink="/">Service</a>
      <a style="color: white;" routerLink="/">Contact</a>
      <button routerLink="/guide/procedure" class="btnLogin-popup" style="transform: translate(350px,0%);height: 50px;text-align: center;padding-top: 10px;">refer for more details</button>
      <input type="search" class="search-input" style="transform: translate(400px,0%);height: 50px;text-align: center;background: none;border: none;" placeholder="Search...">
    </nav>
  </header>
 </div>   

<!-- details -->
<!-- first -->
<br><br>

<div class="container">
  <div class="row" >
    <div class="col-6">
      <h1>Amalaki</h1><br>
      <p>Amalaki, a revered herb in Ayurvedic tradition, has been celebrated for its profound benefits for thousands of years. It
      is known to pacify all three doshas vata, pitta, and kapha though it is particularly effective in calming pitta dosha.
      
      In the Ayurvedic system, amalaki is characterized by a primary sour taste, complemented by sweet, pungent, bitter, and
      astringent flavors. Its virya (action) is cooling, which helps balance heat in the body, and its vipaka (post-digestive
      effect) is sweet, contributing to its soothing qualities.

      Despite its sour flavor, which might typically aggravate pitta digestion, amalaki is uniquely suited to balance excess
      pitta.
      
      According to Ayurveda, digestion begins with the experience of taste. Amalaki’s presence of five out of six
      tastes excluding only the salty taste makes it a powerful agent in stimulating digestion, enhancing appetite, and
      kindling agni (the digestive fire). This wide array of tastes ensures a balanced digestive experience.
      
      Despite its sour flavor, which might typically aggravate pitta digestion, amalaki is uniquely suited to balance excess
      pitta. Its cooling nature and bitter taste work synergistically to alleviate pitta imbalances in the digestive tract,
      promoting overall digestive health and harmony.</p>
    </div>
    <div class="col-6">
      <img style="height: 280px;width: 280px;transform: translate(150px,75px);" src="../../../assets/images/amla1.png" alt="">
      <button class="btn btn-info" style="background-color:rgb(17, 163, 17);border-width: 3px;border-style: groove;border-color: black; transform: translate(-53%,260px); ">> Watch Video</button>

    </div>
  </div>
  </div>
  <!-- second -->

  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>Echinacea</h1><br>
        <p>Echinacea, a herb often used in traditional medicine, is renowned for its potential health benefits. It is
          most
          commonly associated with boosting the immune system, helping to increase white blood cell production which
          plays
          a crucial role in fighting infections. Many people turn to echinacea to alleviate symptoms and shorten the
          duration of colds and flu, though research on its effectiveness has yielded mixed results. Beyond immune
          support, echinacea possesses anti-inflammatory and antioxidant properties that may contribute to overall
          health
          by reducing inflammation and protecting cells from oxidative damage. It is also used topically to promote skin
          healing and may help with conditions like eczema and acne. While generally safe, echinacea can interact with
          certain medications and may cause allergic reactions in some individuals, making it important to consult a
          healthcare provider before use. Despite mixed research findings, it remains a popular choice for those seeking
          natural health remedies.
        
          Beyond immune
          support, echinacea possesses anti-inflammatory and antioxidant properties that may contribute to overall
          health
          by reducing inflammation and protecting cells from oxidative damage.</p>
      </div>
      <div class="col-6">
        <img style="height: 280px;width: 280px;transform: translate(150px,75px);" src="../../../assets/images/bk13.webp" alt="">
        <button class="btn btn-info" style="background-color:rgb(17, 163, 17);border-width: 3px;border-style: groove;border-color: black; transform: translate(-55%,260px); ">> Watch Video</button>

      </div>
    </div>

  </div>
  <!-- third -->

  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>Garlic</h1><br>
        <p>Cardiovascular Health: Garlic is well-known for its ability to support heart health. It may help lower blood
          pressure, reduce cholesterol levels, and improve overall cardiovascular function, contributing to a reduced
          risk
          of heart disease.

          Antimicrobial Properties: Garlic has natural antibacterial, antiviral, and antifungal properties, making it
          effective in helping to prevent and treat infections.

          Anti-Inflammatory Effects: The compounds in garlic, such as allicin, have anti-inflammatory effects that can
          help reduce inflammation and alleviate symptoms of inflammatory conditions.

          Immune System Support: Garlic is believed to boost the immune system by enhancing the activity of immune
          cells,
          which can help the body fight off illnesses and infections more effectively.

          Antioxidant Benefits: Garlic contains antioxidants that help neutralize free radicals, reducing oxidative
          stress
          and potentially lowering the risk of chronic diseases.

          Digestive Health: Garlic can aid in digestion by stimulating the production of digestive enzymes and improving
          gut health. It may also help prevent digestive disorders and promote a healthy gut microbiome.

          Cognitive Health: Some studies suggest that garlic may have protective effects on cognitive health,
          potentially
          reducing the risk of neurodegenerative diseases due to its antioxidant and anti-inflammatory properties.</p>
      </div>
      <div class="col-6">
        <img style="height: 280px;width: 280px;transform: translate(150px,75px);" src="../../../assets/images/3.jpg" alt="">
        <button class="btn btn-info" style="background-color:rgb(17, 163, 17);border-width: 3px;border-style: groove;border-color: black; transform: translate(-55%,260px); ">> Watch Video</button>

      </div>
    </div>

  </div>
  <!-- fourth -->

  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>Dong quai</h1><br>
        <p>Menstrual Health: Dong quai is widely known for its use in supporting menstrual health. It may help regulate
          menstrual cycles, alleviate menstrual cramps, and manage symptoms of premenstrual syndrome (PMS). It is often
          included in formulas for women's health.

          Menopause Support: It is used to help ease symptoms associated with menopause, such as hot flashes, mood
          swings, and vaginal dryness. Its effects on hormonal balance can be beneficial during this transition.

          Blood Health: Dong quai is sometimes referred to as “female ginseng” due to its reputed ability to improve
          blood circulation and increase red blood cell production, which can be helpful in treating anemia and fatigue.

          Pain Relief: Its anti-inflammatory properties may provide relief from chronic pain and conditions like
          arthritis by reducing inflammation and improving circulation.

          Digestive Health: It is used to support digestive function and can help with symptoms like bloating and
          abdominal discomfort.

          Skin Health: Some traditional uses include improving skin health and complexion, thanks to its potential
          anti-inflammatory and antioxidant effects.
        
          Pain Relief: Its anti-inflammatory properties may provide relief from chronic pain and conditions like
          arthritis by reducing inflammation and improving circulation.</p>
      </div>
      <div class="col-6">
        <img style="height: 280px;width: 280px;transform: translate(150px,75px);" src="../../../assets/images/doug.jpeg" alt="">
        <button class="btn btn-info" style="background-color:rgb(17, 163, 17);border-width: 3px;border-style: groove;border-color: black; transform: translate(-55%,260px); ">> Watch Video</button>

      </div>
    </div>

  </div>
  <!-- Fifth-->

  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>Ginger</h1><br>
        <p>Ginger, a versatile root widely used in culinary and medicinal applications, offers a range of impressive
        health benefits. Its active compounds, such as gingerol, have powerful anti-inflammatory and antioxidant
        effects, which can help reduce oxidative stress and inflammation in the body. Ginger is renowned for its
        ability to aid digestion by alleviating symptoms like nausea, bloating, and indigestion. It is particularly
        effective in soothing morning sickness during pregnancy and reducing motion sickness. Additionally, ginger may
        help relieve pain, including menstrual cramps and osteoarthritis discomfort, due to its natural pain-relieving
        properties. It also supports cardiovascular health by potentially lowering blood sugar levels and improving
        cholesterol profiles. Moreover, ginger's immune-boosting properties help the body fight off infections and
        illnesses. Regularly incorporating ginger into your diet can enhance overall health and well-being, though
        it’s advisable to consult with a healthcare provider for personalized advice. It also supports cardiovascular health by
        potentially lowering blood sugar levels and improving
        cholesterol profiles.It is particularly
        effective in soothing morning sickness during pregnancy and reducing motion sickness.
      </p>
      </div>
      <div class="col-6">
        <img style="height: 280px;width: 280px;transform: translate(150px,75px);" src="../../../assets/images/fifth.jpg" alt="">
        <button class="btn btn-info" style="background-color:rgb(17, 163, 17);border-width: 3px;border-style: groove;border-color: black; transform: translate(-55%,260px); ">> Watch Video</button>

      </div>
    </div>

  </div>
  <!-- sixth-->

  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>Ginkgo biloba</h1><br>
        <p>Ginkgo biloba, an ancient herbal remedy, is prized for its potential cognitive and circulatory benefits. One
          of its most notable advantages is its ability to enhance cognitive function and memory, particularly in older
          adults. It is believed to improve blood flow to the brain, which may help in reducing symptoms of cognitive
          decline and support mental clarity. Its benefits extend to improving circulation throughout the body, which
          can support cardiovascular health and alleviate conditions like tinnitus (ringing in the ears) and
          intermittent claudication (pain due to poor circulation). While Ginkgo biloba can offer these benefits, it’s
          important to consult a healthcare provider before use, especially if you are on medications or have underlying
          health conditions. Ginkgo biloba also has antioxidant properties that protect brain cells
          from oxidative stress and damage. Additionally, it may aid in reducing symptoms of anxiety and depression by
          influencing neurotransmitter activity. Its benefits extend to improving circulation throughout the body, which
          can support cardiovascular health and alleviate conditions like tinnitus (ringing in the ears) and
          intermittent claudication (pain due to poor circulation). While Ginkgo biloba can offer these benefits, it’s
          important to consult a healthcare provider before use, especially if you are on medications or have underlying
          health conditions.</p>
      </div>
      <div class="col-6">
        <img style="height: 280px;width: 280px;transform: translate(150px,75px);" src="../../../assets/images/six.jpeg" alt="">
        <button class="btn btn-info" style="background-color:rgb(17, 163, 17);border-width: 3px;border-style: groove;border-color: black; transform: translate(-55%,260px); ">> Watch Video</button>

      </div>
    </div>

  </div>
  <!-- seven -->

  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>Ginseng</h1><br>
        <p>Energy and Vitality: Ginseng is renowned for its adaptogenic properties, which help the body adapt to stress
          and boost overall energy levels. It can enhance physical endurance and reduce fatigue.

          Cognitive Function: Ginseng may improve mental performance, concentration, and memory. It is believed to
          support cognitive health and protect against age-related decline.

          Immune Support: It can strengthen the immune system, making the body more resilient against infections and
          illnesses.

          Mood and Stress Relief: Ginseng has been shown to have mood-stabilizing effects and may help reduce symptoms
          of anxiety and depression.

          Cardiovascular Health: It may help regulate blood sugar levels and improve circulation, contributing to
          cardiovascular health.

          Anti-Inflammatory Effects: Ginseng contains compounds with anti-inflammatory properties that can help manage
          inflammation and related conditions.
        
          Cardiovascular Health: It may help regulate blood sugar levels and improve circulation, contributing to
          cardiovascular health.
        
        
          Mood and Stress Relief: Ginseng has been shown to have mood-stabilizing effects and may help reduce symptoms
          of anxiety and depression.

          Immune Support: It can strengthen the immune system, making the body more resilient against infections and
          illnesses.

          Cognitive Function: Ginseng may improve mental performance, concentration, and memory. It is believed to
          support cognitive health and protect against age-related decline.
          </p>
      </div>
      <div class="col-6">
        <img style="height: 280px;width: 280px;transform: translate(150px,75px);" src="../../../assets/images/seven.jpeg" alt="">
        <button class="btn btn-info" style="background-color:rgb(17, 163, 17);border-width: 3px;border-style: groove;border-color: black; transform: translate(-55%,260px); ">> Watch Video</button>

      </div>
    </div>

  </div>
  <!-- eight-->

  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>St. John's Wort</h1><br>
        <p>Mood Enhancement: St. John's Wort is most widely known for its potential to alleviate symptoms of mild to
          moderate depression. 
          It may help improve mood, reduce feelings of sadness, and enhance overall emotional
          well-being.

          Anxiety Reduction: Some studies suggest that it can help reduce symptoms of anxiety, making it beneficial for
          individuals experiencing stress or anxiety disorders.

          Anti-Inflammatory Properties: It has anti-inflammatory effects that may help manage conditions involving
          inflammation, such as arthritis.

          Wound Healing: When used topically, St. John's Wort oil is believed to promote wound healing and reduce pain
          from minor burns and bruises.

          Antioxidant Effects: The herb contains compounds with antioxidant properties, which can help protect cells
          from oxidative stress and damage.

          Menopausal Symptom Relief: There is some evidence that St. John's Wort may help alleviate certain menopausal
          symptoms, including mood swings and irritability.
        
          Wound Healing: When used topically, St. John's Wort oil is believed to promote wound healing and reduce pain
          from minor burns and bruises.

          Anti-Inflammatory Properties: It has anti-inflammatory effects that may help manage conditions involving
          inflammation, such as arthritis.
        </p>
      </div>
      <div class="col-6">
        <img style="height: 280px;width: 280px;transform: translate(150px,75px);" src="../../../assets/images/eight.jpeg" alt="">
        <button class="btn btn-info" style="background-color:rgb(17, 163, 17);border-width: 3px;border-style: groove;border-color: black; transform: translate(-55%,260px);  ">> Watch Video</button>

      </div>
    </div>

  </div>
  <!-- nine -->

  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>Turmeric</h1><br>
        <p>Anti-Inflammatory: Curcumin has potent anti-inflammatory properties, which can help reduce inflammation in
          conditions like arthritis and inflammatory bowel disease.

          Antioxidant: Turmeric is a powerful antioxidant that helps neutralize free radicals and reduce oxidative
          stress, which can protect cells from damage and support overall health.

          Joint Health: Due to its anti-inflammatory effects, turmeric may help alleviate joint pain and stiffness
          associated with osteoarthritis and rheumatoid arthritis.

          Digestive Health: It can aid digestion by stimulating bile production and may help with conditions like
          bloating, gas, and indigestion.

          Immune Support: Turmeric may enhance the immune system, helping the body resist infections and illnesses.

          Heart Health: It can support cardiovascular health by improving the function of the endothelium (the lining of
          blood vessels) and potentially lowering cholesterol levels.

          Brain Health: Curcumin may cross the blood-brain barrier and has been studied for its potential to support
          cognitive function and protect against neurodegenerative diseases like Alzheimer's.

          Cancer Prevention: Some studies suggest that curcumin may have anticancer properties by influencing various
          molecular pathways and reducing cancer cell growth.
        </p>
      </div>
      <div class="col-6">
        <img style="height: 280px;width: 280px;transform: translate(150px,75px);" src="../../../assets/images/nine.jpg" alt="">
        <button class="btn btn-info" style="background-color:rgb(17, 163, 17);border-width: 3px;border-style: groove;border-color: black; transform: translate(-55%,260px);  ">> Watch Video</button>

      </div>
    </div>

  </div>
  <!-- ten -->

  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>Peppermint</h1><br>
        <p>Digestive Health: Peppermint is widely used to alleviate digestive issues. It can help relieve symptoms of
          indigestion, bloating, and gas, and may also ease irritable bowel syndrome (IBS) symptoms.

          Nausea Relief: The menthol in peppermint can soothe the stomach and reduce feelings of nausea. It’s often used
          to help with motion sickness and morning sickness during pregnancy.

          Headache Relief: Applying diluted peppermint oil to the temples can provide relief from tension headaches and
          migraines due to its cooling and soothing effects.

          Respiratory Health: Peppermint has menthol, which acts as a natural decongestant. It can help clear nasal
          passages, reduce coughs, and ease symptoms of colds and sinusitis.

          Pain Relief: The menthol in peppermint also has mild analgesic properties, making it useful for soothing sore
          muscles and relieving minor aches and pains.

          Antimicrobial Properties: Peppermint has natural antimicrobial properties that can help in combating bacterial
          and fungal infections. It’s sometimes used in oral care products to maintain fresh breath and promote oral
          hygiene.

          Mental Clarity: The scent of peppermint is invigorating and may help improve concentration, alertness, and
          overall mental clarity.

          Skin Health: Peppermint oil can be used topically to relieve itching and irritation from conditions like
          eczema or insect bites.</p>
      </div>
      <div class="col-6">
        <img style="height: 280px;width: 280px;transform: translate(150px,75px);" src="../../../assets/images/ten.jpeg" alt="">   
           <button class="btn btn-info" style="background-color:rgb(17, 163, 17);border-width: 3px;border-style: groove;border-color: black; transform: translate(-55%,260px);  ">> Watch Video</button>

      </div>
    </div>

  </div>
  <!-- 11 -->
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>Ashwagandha</h1><br>
        <p>Stress Reduction: Ashwagandha is renowned for its adaptogenic properties, which help the body cope with
          stress. It can lower cortisol levels, the hormone associated with stress, and promote a sense of calm.

          Anxiety and Depression Relief: The herb may help reduce symptoms of anxiety and depression. Its calming
          effects can improve mood and enhance overall mental well-being.

          Enhanced Energy and Vitality: Ashwagandha can boost energy levels and increase physical endurance. It helps
          combat fatigue and supports overall vitality.

          Improved Cognitive Function: It may enhance memory, concentration, and cognitive function. Some studies
          suggest it can support brain health and protect against cognitive decline.

          Immune System Support: Ashwagandha has immunomodulatory effects that can help strengthen the immune system,
          making the body more resilient to infections and illnesses.

          Anti-Inflammatory Properties: The herb has anti-inflammatory effects that can help reduce inflammation and
          alleviate symptoms of inflammatory conditions like arthritis.

          Hormonal Balance: It supports hormonal balance, which can be beneficial for thyroid function and reproductive
          health. It is sometimes used to address symptoms of hypothyroidism and to support overall endocrine health.

          Muscle Strength and Recovery: Ashwagandha may improve muscle strength and recovery, making it useful for
          athletes and those involved in regular physical activity.

          Sexual Health: It is believed to enhance libido and support sexual health, addressing issues related to sexual
          dysfunction.

          Cardiovascular Health: Ashwagandha can support heart health by improving cholesterol levels and
          reducing blood pressure.</p>
      </div>
      <div class="col-6">
        <img style="height: 280px;width: 280px;transform: translate(150px,75px);" src="../../../assets/images/11.png" alt="">
        <button class="btn btn-info" style="background-color:rgb(17, 163, 17);border-width: 3px;border-style: groove;border-color: black; transform: translate(-55%,260px);  ">> Watch Video</button>

      </div>
    </div>

  </div>
  <!-- 12 -->
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>Holy Basil</h1><br>
        <p>
          Holy Basil, also known as Tulsi (Ocimum sanctum), is a revered herb in Ayurvedic medicine, celebrated for its
          numerous
          health benefits. As an adaptogen, Tulsi helps the body adapt to stress, balancing stress hormone levels and
          enhancing
          resilience against physical and mental stress. This makes it effective for managing anxiety and improving
          overall
          well-being.

          Tulsi's anti-inflammatory and antioxidant properties contribute significantly to its health benefits. It
          contains
          essential oils, flavonoids, and phenolic compounds that help reduce oxidative stress and inflammation in the
          body, which
          can be beneficial for conditions like arthritis and chronic inflammatory diseases.

          The herb also supports immune function. It can enhance the body’s natural defenses, helping to prevent
          infections and
          bolster overall immunity. Tulsi’s antimicrobial properties aid in combating bacterial, viral, and fungal
          infections,
          making it useful for respiratory health, including managing symptoms of colds, coughs, and asthma.

          Incorporating Tulsi into your daily routine can provide a range of therapeutic benefits, but it’s always wise
          to consult
          with a healthcare provider before starting any new herbal regimen, especially if you are pregnant, nursing, or
          on
          medication.
          
          The herb also supports immune function. It can enhance the body’s natural defenses, helping to prevent
          infections and
          bolster overall immunity. 
        </p>
      </div>
      <div class="col-6">
        <img style="height: 280px;width: 280px;transform: translate(150px,75px);" src="../../../assets/images/12.png" alt="">
        <button class="btn btn-info" style="background-color:rgb(17, 163, 17);border-width: 3px;border-style: groove;border-color: black; transform: translate(-55%,260px);  ">> Watch Video</button>

      </div>
    </div>

  </div>
  <!-- 13 -->
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>Neem</h1><br>
        <p>
          Neem, often referred to as the "village pharmacy" in India, is a highly regarded herb in traditional medicine
          due to its extensive therapeutic properties. The leaves, bark, seeds, and oil of the neem tree offer a range
          of health benefits, making it a versatile remedy for various conditions.

          Antimicrobial Properties: Neem is renowned for its powerful antimicrobial effects, including antibacterial,
          antiviral, and antifungal properties. It can help combat infections, including acne, dandruff, and fungal
          infections, and is often used in topical applications for skin issues.

          Anti-Inflammatory Effects: The anti-inflammatory compounds in neem can help reduce inflammation and pain
          associated with conditions such as arthritis and skin inflammation, providing relief and promoting healing.

          Immune Support: Neem enhances the immune system by boosting the body’s defense mechanisms, helping to fight
          off pathogens and support overall health.

          Digestive Health: It aids digestion by improving gut health, reducing bloating, and alleviating constipation.
          Neem also has liver-protective properties, supporting detoxification processes.

          Blood Sugar Regulation: Neem may help regulate blood sugar levels, making it beneficial for managing diabetes
          and improving overall metabolic health.

          Immune Support: Neem enhances the immune system by boosting the body’s defense mechanisms, helping to fight
          off pathogens and support overall health.
        </p>
      </div>
      <div class="col-6">
        <img style="height: 280px;width: 280px;transform: translate(150px,75px);" src="../../../assets/images/13.png" alt="">
        <button class="btn btn-info" style="background-color:rgb(17, 163, 17);border-width: 3px;border-style: groove;border-color: black; transform: translate(-55%,260px);  ">> Watch Video</button>

      </div>
    </div>

  </div>
  <!-- 14 -->
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>karpooravalli</h1><br>
        <p>
          karpooravalli, also known as Plectranthus amboinicus or Cuban oregano, is a versatile herb commonly used in
          traditional medicine. It offers a range of health benefits, primarily due to its rich phytochemical profile.

          Respiratory Health: Karpuravalli is renowned for its ability to relieve symptoms of respiratory conditions.
          Its expectorant properties help to clear mucus from the respiratory tract, making it useful for managing
          coughs, colds, and asthma.
          
          Skin Health: Karpuravalli is also used in topical applications to soothe skin irritations and support wound
          healing, thanks to its antiseptic and anti-inflammatory effects.

          Digestive Aid: The herb aids digestion by stimulating appetite, relieving indigestion, and reducing
          gastrointestinal discomfort. It has carminative properties that help reduce bloating and gas.

          Anti-inflammatory Effects: Karpuravalli has anti-inflammatory properties that can help alleviate pain and
          swelling associated with conditions like arthritis. Its application can reduce inflammation and provide relief
          from joint pain.

          Antimicrobial Properties: The herb exhibits antimicrobial effects that help combat infections. It is often
          used in traditional medicine to treat minor wounds and infections due to its ability to inhibit microbial
          growth.

          Skin Health: Karpuravalli is also used in topical applications to soothe skin irritations and support wound
          healing, thanks to its antiseptic and anti-inflammatory effects.

        </p>
      </div>
      <div class="col-6">
        <img style="height: 280px;width: 280px;transform: translate(150px,75px);" src="../../../assets/images/karpooravalli.png" alt="">
        <button class="btn btn-info" style="background-color:rgb(17, 163, 17);border-width: 3px;border-style: groove;border-color: black; transform: translate(-55%,260px); ">> Watch Video</button>

      </div>
    </div>

  </div>
  <!-- 15 -->
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>Solanum trilobatum</h1><br>
        <p>
          Solanum trilobatum plant(Thuthuvalai), also known as Solanum trilobatum, is a medicinal herb widely used in
          traditional medicine,
          particularly in South Asian cultures. It is known for its diverse therapeutic properties:

          Respiratory Health: Thuthuvalai is renowned for its benefits in treating respiratory conditions. It helps
          alleviate symptoms of asthma, bronchitis, and coughs by reducing inflammation and acting as an expectorant.
          The herb aids in clearing mucus from the respiratory tract, improving breathing.

          Anti-inflammatory Properties: The herb has significant anti-inflammatory effects, which can help manage
          conditions like arthritis and other inflammatory disorders. Its compounds work to reduce swelling and pain,
          providing relief from joint discomfort.

          Antioxidant Effects: Thuthuvalai is rich in antioxidants that help neutralize free radicals and protect cells
          from oxidative stress. This contributes to overall health by reducing the risk of chronic diseases and
          promoting cellular health.

          Digestive Health: It supports digestive function by improving appetite and relieving symptoms of indigestion
          and gastrointestinal discomfort. Thuthuvalai's soothing properties help in managing digestive disorders.

          Antimicrobial Activity: Thuthuvalai exhibits antimicrobial properties that help combat infections. It has been
          traditionally used to treat various infections, including bacterial and fungal infections.

          Immunity Boost: The herb supports the immune system, enhancing the body’s ability to fight off
          infections and diseases.
        </p>
      </div>
      <div class="col-6">
        <img style="height: 280px;width: 280px;transform: translate(150px,75px);" src="../../../assets/images/thuthuvalai.png" alt="">
        <button class="btn btn-info" style="background-color:rgb(17, 163, 17);border-width: 3px;border-style: groove;border-color: black; transform: translate(-55%,260px);  ">> Watch Video</button>

      </div>
    </div>

  </div>
  <!-- 16 -->
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>false daisy</h1><br>
        <p>
          false daisy (Karsalankanni), also known as Eclipta prostrata or False Daisy, is a valuable herb in traditional
          medicine with
          a broad range of therapeutic benefits. Its rich phytochemical profile contributes to its diverse uses:

          Liver Health: Karsalankanni is highly regarded for its hepatoprotective properties. It supports liver function
          and helps in detoxification, making it beneficial for liver disorders like hepatitis and jaundice. It
          stimulates liver enzyme activity, promoting overall liver health.

          Hair Care: Known for its positive effects on hair health, Karsalankanni is often used in hair tonics to
          prevent hair loss, enhance hair growth, and improve hair quality. Its application can strengthen hair roots
          and reduce premature graying.

          Anti-inflammatory and Antioxidant Properties: The herb exhibits significant anti-inflammatory and antioxidant
          effects, which help in reducing inflammation, oxidative stress, and cellular damage. This can aid in managing
          conditions such as arthritis and other inflammatory diseases.

          Immune Support: Karsalankanni boosts the immune system, enhancing the body’s ability to fight infections and
          illnesses. It helps strengthen immune responses and supports overall health.

          Skin Health: The herb has beneficial effects on skin health, including its use in treating acne, eczema, and
          other skin conditions due to its antibacterial and anti-inflammatory properties.

          Digestive Health: Karsalankanni aids digestion and alleviates gastrointestinal issues such as indigestion and
          constipation, promoting a healthy digestive system.
        </p>
      </div>
      <div class="col-6">
        <img style="height: 280px;width: 280px;transform: translate(150px,75px);" src="../../../assets/images/15.png" alt="">
        <button class="btn btn-info" style="background-color:rgb(17, 163, 17);border-width: 3px;border-style: groove;border-color: black; transform: translate(-55%,260px);  ">> Watch Video</button>

      </div>
    </div>

  </div>
  <!-- 17 -->
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>Willow bark</h1><br>
        <p>
          Willow bark, derived from the Salix alba tree, has been utilized for centuries in traditional medicine,
          primarily for its pain-relieving and anti-inflammatory properties. The bark contains salicin, a compound that
          the body converts into salicylic acid, a precursor to aspirin. This makes willow bark an effective natural
          remedy for alleviating pain and inflammation.

          Pain Relief: Willow bark is renowned for its ability to relieve various types of pain, including headaches,
          lower back pain, and arthritis. Its salicin content works similarly to aspirin, reducing pain by inhibiting
          the production of prostaglandins, which are chemicals responsible for pain and inflammation.

          Anti-inflammatory Effects: The herb's anti-inflammatory properties help reduce inflammation in conditions such
          as osteoarthritis and rheumatoid arthritis. This can improve joint mobility and alleviate stiffness.

          Digestive Health: Some studies suggest that willow bark may aid in digestive health by alleviating symptoms of
          indigestion and stomach discomfort, although more research is needed in this area.

          Overall Health Benefits: As a natural alternative to synthetic painkillers, willow bark offers a holistic
          approach to pain management with fewer side effects. However, it should be used cautiously, particularly in
          individuals with allergies to aspirin or those on anticoagulant medications.
        </p>
      </div>
      <div class="col-6">
        <img style="height: 280px;width: 280px;transform: translate(150px,75px);" src="../../../assets/images/17.png" alt="">
        <button class="btn btn-info" style="background-color:rgb(17, 163, 17);border-width: 3px;border-style: groove;border-color: black; transform:translate(-55%,260px);  ">> Watch Video</button>

      </div>
    </div>

  </div>
  <!-- 18 -->
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>Devil’s Claw</h1><br>
        <p>
          Devil’s Claw, scientifically known as Harpagophytum procumbens, is a herb native to southern Africa and widely
          used in traditional medicine for its potent anti-inflammatory and pain-relieving properties. The name "Devil’s
          Claw" refers to the plant's distinctive, hooked fruits. The primary benefits of Devil’s Claw are:

          Pain Relief: Devil’s Claw is renowned for its effectiveness in managing various types of pain, particularly
          musculoskeletal pain. It is commonly used to alleviate symptoms of osteoarthritis and rheumatoid arthritis by
          reducing joint pain and improving mobility.

          Anti-inflammatory Effects: The herb contains harpagoside and other iridoid glycosides that have strong
          anti-inflammatory properties. This helps reduce inflammation and swelling, contributing to relief from
          conditions like arthritis and back pain.

          Digestive Health: Traditionally, Devil’s Claw has been used to aid digestive health. It can help relieve
          symptoms of indigestion and loss of appetite, improving overall digestive function.

          Improved Mobility: By reducing inflammation and pain, Devil’s Claw can enhance joint mobility and flexibility,
          making it beneficial for individuals suffering from stiffness and restricted movement.

          Overall Well-being: As a natural alternative to conventional painkillers, Devil’s Claw provides a holistic
          approach to pain management with fewer side effects.
        </p>
      </div>
      <div class="col-6">
        <img style="height: 280px;width: 280px;transform: translate(150px,75px);" src="../../../assets/images/18.jpeg" alt="">
        <button class="btn btn-info" style="background-color:rgb(17, 163, 17);border-width: 3px;border-style: groove;border-color: black; transform: translate(-55%,260px); ">> Watch Video</button>



      </div>
      <!-- 19 -->
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h1>Celery seed</h1><br>
            <p>
              Celery seed, derived from the plant Apium graveolens, is a herb with a long history of use in traditional
              medicine. It offers a variety of health benefits, thanks to its rich content of bioactive compounds.

              Anti-inflammatory Effects: Celery seed is known for its strong anti-inflammatory properties, which can
              help alleviate conditions such as arthritis and gout. Its active compounds, including flavonoids and
              polyphenols, work to reduce inflammation and relieve pain.

              Diuretic Properties: Celery seed acts as a natural diuretic, promoting urine production and helping to
              reduce fluid retention. This can be beneficial for managing conditions like hypertension and edema
              (swelling caused by fluid retention).

              Digestive Health: The herb supports digestive health by stimulating appetite and relieving symptoms of
              indigestion, such as bloating and gas. It aids in promoting healthy digestion and regular bowel movements.

              Antioxidant Benefits: Celery seed contains antioxidants that help neutralize free radicals and reduce
              oxidative stress. This contributes to overall health by protecting cells from damage and lowering the risk
              of chronic diseases.

              Blood Pressure Regulation: Some studies suggest that celery seed can help manage blood pressure levels.
              Its diuretic effect and ability to reduce inflammation may contribute to cardiovascular health.
            </p>
          </div>
          <div class="col-6">
            <img style="height: 280px;width: 280px;transform: translate(150px,75px);" src="../../../assets/images/cleary.jpg" alt="">
            <button class="btn btn-info" style="background-color:rgb(17, 163, 17);border-width: 3px;border-style: groove;border-color: black; transform: translate(-55%,260px);  ">> Watch Video</button>

          </div>
        </div>

      </div>
      <!-- 20 -->
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h1>Lavender</h1><br>
            <p>
              Lavender (Lavandula angustifolia) is a versatile herb known for its soothing and therapeutic properties.
              Widely used in aromatherapy, skincare, and traditional medicine, lavender offers a range of benefits:

              Stress and Anxiety Relief: Lavender is renowned for its calming effects. Its essential oil is commonly
              used in aromatherapy to reduce stress, anxiety, and promote relaxation. Studies have shown that lavender
              can help lower cortisol levels, the hormone associated with stress.

              Improved Sleep: Lavender is often used to enhance sleep quality. The scent of lavender has been found to
              improve sleep patterns, making it useful for individuals struggling with insomnia or disturbed sleep.
              Lavender essential oil can be diffused in the bedroom or added to bath water for a calming effect.

              Pain Relief: Lavender oil has analgesic properties that can help relieve minor aches and pains, including
              headaches and muscle soreness. It can be used topically in diluted form or through aromatherapy to
              alleviate discomfort.

              Skin Health: Lavender has antiseptic and anti-inflammatory properties, making it beneficial for treating
              minor burns, insect bites, and acne. It can promote wound healing and soothe irritated skin when used in
              diluted essential oil or skincare products.

              Digestive Health: Lavender can aid in digestion by relieving symptoms of gastrointestinal discomfort such
              as nausea and gas. Drinking lavender tea or using lavender oil in a diffuser can help ease
              digestive issues.
            </p>
          </div>
          <div class="col-6">
            <img style="height: 280px;width: 280px;transform: translate(150px,75px);" src="../../../assets/images/20.jpeg" alt="">
            <button class="btn btn-info" style="background-color:rgb(17, 163, 17);border-width: 3px;border-style: groove;border-color: black; transform: translate(-55%,260px);  ">> Watch Video</button>

          </div>
        </div>

      </div>
      <!-- 21 -->
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h1>Capsaicin</h1><br>
            <p>
              Capsaicin, the active compound found in chili peppers (Capsicum annuum), is celebrated for its therapeutic
              properties. Primarily known for its role in pain relief, capsaicin has several notable benefits:

              Pain Relief: Capsaicin is widely used in topical creams and patches to alleviate pain. It works by
              depleting substance P, a neurotransmitter involved in sending pain signals to the brain. This makes it
              effective for managing conditions like arthritis, neuropathic pain, and muscle soreness.

              Anti-inflammatory Effects: Capsaicin has anti-inflammatory properties that help reduce inflammation and
              swelling, contributing to pain relief and overall joint health.

              Metabolic Boost: Capsaicin can boost metabolism and aid in weight management by increasing thermogenesis,
              the process of heat production in the body. This helps in burning more calories and fat.

              Digestive Health: Capsaicin may improve digestion by stimulating digestive enzymes and increasing stomach
              acid, which can aid in nutrient absorption and digestive efficiency.

              While capsaicin offers these benefits, it should be used with caution. Topical products may cause
              irritation if not used properly, and it’s advisable to consult with a healthcare provider before starting
              any new treatment, especially if you have sensitive skin or underlying health conditions.
            </p>
          </div>
          <div class="col-6">
            <img style="height: 280px;width: 280px;transform: translate(150px,75px);" src="../../../assets/images/21.jpeg" alt="">
            <button class="btn btn-info" style="background-color:rgb(17, 163, 17);border-width: 3px;border-style: groove;border-color: black; transform: translate(-55%,260px);  ">> Watch Video</button>

          </div>
        </div>

      </div>
      <!-- 22 -->
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h1>Arnica montana</h1><br>
            <p>
              Arnica (Arnica montana) is a herb commonly used for its anti-inflammatory and pain-relieving properties,
              particularly in the form of topical applications. Its benefits include:

              Pain Relief: Arnica is well-known for its effectiveness in alleviating muscle soreness, joint pain, and
              bruises. It helps reduce pain and swelling when applied topically as a cream or gel.

              Anti-inflammatory Properties: The herb contains compounds like helenalin, which provide significant
              anti-inflammatory effects. This can help manage conditions such as arthritis and sprains by reducing
              inflammation and promoting healing.

              Bruise Healing: Arnica is often used to treat bruises and contusions. It can speed up the healing process
              and reduce the appearance of bruising.

              Post-Surgery Recovery: Arnica is frequently used to ease discomfort and swelling after surgical
              procedures, making it a popular choice for postoperative care.

              While Arnica is effective, it should not be ingested or applied to broken skin, and it’s best to consult
              with a healthcare provider before use, especially if you have underlying health conditions
              or are pregnant.

              Pain Relief: Arnica is well-known for its effectiveness in alleviating muscle soreness, joint pain, and
              bruises. It helps reduce pain and swelling when applied topically as a cream or gel.
            </p>
          </div>
          <!-- 23 -->
          <div class="col-6">
            <img style="height: 280px;width: 280px;transform: translate(150px,75px);" src="../../../assets/images/22.jpeg" alt="">
            <button class="btn btn-info" style="background-color:rgb(17, 163, 17);border-width: 3px;border-style: groove;border-color: black; transform: translate(-55%,260px); ">> Watch Video</button>

          </div>
        </div>

      </div>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h1>Boswellia</h1><br>
            <p>
              Boswellia, also known as frankincense, is a resin obtained from the Boswellia serrata tree and valued for
              its potent anti-inflammatory and therapeutic properties:

              Digestive Health: Boswellia has been used to support gastrointestinal health, particularly in conditions
              like ulcerative colitis, due to its anti-inflammatory effects on the digestive tract.

              Boswellia can be taken as supplements or used topically. Consult with a healthcare provider before
              starting any new treatment, especially if you have underlying health conditions or are pregnant.

              Anti-inflammatory Effects: Boswellia contains boswellic acids that inhibit the production of inflammatory
              enzymes. This makes it highly effective in managing inflammatory conditions such as osteoarthritis,
              rheumatoid arthritis, and inflammatory bowel diseases by reducing pain and swelling.

              Pain Relief: The anti-inflammatory properties of Boswellia also contribute to pain relief, helping
              alleviate joint pain and discomfort associated with arthritis and other inflammatory conditions.

              Improved Joint Function: Regular use of Boswellia can enhance joint mobility and flexibility, benefiting
              those with arthritis or chronic joint pain.

              Digestive Health: Boswellia has been used to support gastrointestinal health, particularly in conditions
              like ulcerative colitis, due to its anti-inflammatory effects on the digestive tract.

              </p>
          </div>
          <div class="col-6">
            <img style="height: 280px;width: 280px;transform: translate(150px,75px);" src="../../../assets/images/23.jpeg" alt="">
            <button class="btn btn-info" style="background-color:rgb(17, 163, 17);border-width: 3px;border-style: groove;border-color: black; transform: translate(-55%,260px);  ">> Watch Video</button>

          </div>
        </div>

      </div>
      <!-- 24 -->
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h1>Bilberry</h1><br>
            <p>
              Bilberry (Vaccinium myrtillus) is a powerful berry renowned for its high antioxidant content, particularly
              anthocyanins, which provide numerous health benefits:

              It helps maintain healthy blood vessels and may alleviate symptoms of varicose
              veins.

              Eye Health: Bilberry is most famous for its positive effects on eye health. The anthocyanins help
              strengthen capillaries, improve blood flow to the eyes, and support night vision. It may aid in preventing
              age-related macular degeneration (AMD) and cataracts.

              Antioxidant Properties: The rich antioxidant profile of bilberries helps combat oxidative stress and
              neutralize free radicals, which can reduce the risk of chronic diseases and support overall health.

              Circulatory Health: Bilberry supports vascular health by improving circulation and reducing the risk of
              cardiovascular issues. It helps maintain healthy blood vessels and may alleviate symptoms of varicose
              veins.

              Anti-inflammatory Effects: Bilberry has anti-inflammatory properties that can help reduce inflammation and
              support immune function, contributing to overall well-being.

              It helps maintain healthy blood vessels and may alleviate symptoms of varicose
              veins.

              Circulatory Health: Bilberry supports vascular health by improving circulation and reducing the risk of
              cardiovascular issues. It helps maintain healthy blood vessels and may alleviate symptoms of varicose
              veins.
            </p>
          </div>
          <div class="col-6">
            <img style="height: 280px;width: 280px;transform: translate(150px,75px);" src="../../../assets/images/24.jpeg" alt="">
            <button class="btn btn-info" style="background-color:rgb(17, 163, 17);border-width: 3px;border-style: groove;border-color: black; transform: translate(-55%,260px);  ">> Watch Video</button>

          </div>
        </div>

      </div>
      <!-- 25 -->
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h1>Rosemary</h1><br>
            <p>
              Rosemary (Rosmarinus officinalis) is a fragrant herb widely valued for its diverse therapeutic benefits:

              Cognitive Health: Rosemary is known to enhance memory and concentration. Its aroma has been shown to
              improve mental clarity and cognitive performance, making it useful for boosting focus and reducing mental
              fatigue.

              Hair Care: Rosemary oil promotes hair growth and helps prevent hair loss by improving blood circulation to
              the scalp. It also reduces dandruff and can strengthen hair, contributing to overall hair health.

              Digestive Health: The herb aids in digestion by stimulating the production of digestive enzymes. It can
              help relieve symptoms of indigestion, bloating, and gas.

              Anti-inflammatory and Antioxidant Properties: Rosemary contains rosmarinic acid and carnosic acid, which
              have potent anti-inflammatory and antioxidant effects. These compounds help protect cells from oxidative
              damage and reduce inflammation in the body.

              Incorporating rosemary into your diet or using its essential oil can offer these benefits, but it's
              advisable to consult a healthcare provider before starting any new herbal treatments, especially if you
              have underlying health conditions.

            </p>
          </div>
          <div class="col-6">
            <img style="height: 280px;width: 280px;transform: translate(150px,75px);" src="../../../assets/images/25.jpeg" alt="">
            <button class="btn btn-info" style="background-color:rgb(17, 163, 17);border-width: 3px;border-style: groove;border-color: black; transform: translate(-55%,260px); ">> Watch Video</button>

          </div>
        </div>

      </div>
      <!-- 26 -->
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h1>Aloe vera</h1><br>
            <p>
              Aloe vera (Aloe barbadensis miller) is a succulent plant known for its wide range of health and skincare
              benefits:

              Skin Soothing: Aloe vera gel is renowned for its ability to soothe and heal minor burns, sunburns, and
              skin irritations. Its cooling effect and anti-inflammatory properties help reduce redness and discomfort.

              Moisturization: It provides intense hydration without leaving a greasy residue, making it ideal for
              moisturizing dry skin and maintaining skin elasticity. Aloe vera gel is often used in skincare products
              for its moisturizing properties.

              Wound Healing: Aloe vera promotes wound healing by accelerating cell regeneration and reducing
              inflammation. It is beneficial for treating cuts, abrasions, and other minor skin injuries.

              Digestive Health: Consuming aloe vera juice can aid digestion by soothing the digestive tract and reducing
              symptoms of irritable bowel syndrome (IBS) and constipation.

              Aloe vera can be applied topically or taken orally, but it’s important to consult with a healthcare
              provider before using it, especially if you have underlying health conditions or are pregnant

              Aloe vera gel is renowned for its ability to soothe and heal minor burns, sunburns, and
              skin irritations.
            </p>
          </div>
          <div class="col-6">
            <img style="height: 280px;width: 280px;transform: translate(150px,75px);" src="../../../assets/images/26.webp" alt="">
            <button class="btn btn-info" style="background-color:rgb(17, 163, 17);border-width: 3px;border-style: groove;border-color: black; transform: translate(-55%,260px); ">> Watch Video</button>

          </div>
        </div>
      </div>
