<div style="background-color: lightgreen;">
<div style="background-color: green; height: 100px;"></div>
    <h1 style=" font-size: 40PX;

font-weight: bolder;
color: whitesmoke; transform: translate(5px,-150%);">HERB</h1>
    <h1 style="font-size: 40px; padding-inline: 6pc; transform: translate(15px,-128PX);font-weight: bold;">ALI</h1>
    <h1 style="transform: translate(165px,-225px);font-style: italic;font-size: 100px;">X</h1>

  
 <div class="container">
<div class="row">
    <div class="col-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MNEKFU5zPw0?si=LyXt1ROX3CU3pYru" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h4 class="shu">The Power of Neem Leaves - Revered Ayurvedic Herb with Highly Valued Benefits</h4>
    </div></div><hr class="line">
    <div class="row">
    <div class="col-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/HPLJyKCJWUg?si=mz267jXV0sXGjl9A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h4 class="shu">Amla | 8 Uses and Benefits of Amla | Superfood | Weight loss | Healthy Tips</h4>
    </div></div><hr>
    <div class="row">
    <div class="col-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/HcPbo-qcrtc?si=jMg6hJFJc1ZCKPni" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h4 class="shu" style="transform: translate(100%,-600%);">TOP 5 BENEFITS OF ECHINACEA - HERB SPOTLIGHT</h4>
    </div></div><hr>
    <div class="row">
    <div class="col-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/DIwEPxSiCkQ?si=8YjkiyUmpt4U676p" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h4 class="shu" style="transform: translate(100%,-600%);">Top 10 Health Benefits Of Garlic - Heart Impact</h4>
    </div></div><hr>
    <div class="row">
    <div class="col-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/qZPzhEWbMh4?si=ukWOGBiUepmMneL2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h4 class="shu" style="transform: translate(100%,-600%);">10 Benefits of Dong Quai (Angelica Sinensis)</h4>
    </div></div><hr>
    <div class="row">
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/UaFwOoTseFY?si=QBuXPryGMwqrVHSQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h4 class="shu">What Science ACTUALLY Says About Ginger's Health Benefits</h4>
        </div>
    </div><hr>
    <div class="row">
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/cFMLg0FyhGk?si=_gkDOc2lU8WTzWlH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h4 class="shu">Ginkgo Biloba: Nature's Miracle Cure - 7 Health Benefits Explored</h4>
        </div>
    </div><hr>
    <div class="row">
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ptU7goNY0Rs?si=Za6pvS_zcku5wGRk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h4 class="shu" style="transform: translate(100%,-600%);">8 Amazing Health Benefits Of Ginseng</h4>  
        </div>
    </div><hr>
    <div class="row">
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1E7Va2b8e1g?si=ojQ2XIY5GuOo3p9t" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h4 class="shu" style="transform: translate(100%,-600%);">Top 5 Benefits of St. John's Wort - Herb Spotlight</h4>    
        </div>
    </div><hr>
    <div class="row">
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/eHpp9TUZbJg?si=9sz4N_bytZHbVYgG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h4 class="shu">How To ABSORB TURMERIC and Increase Health Benefits | Tips About Turmeric and Curcumin</h4>   
        </div>
    </div><hr>
    <div class="row">
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6_3aM1QkWCY?si=pp0phjC3In-uWZoE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h4 class="shu">Health Benefits of Mint leaves | Boost Digestion Naturally | Mint for Bad Breath | Power of Mint |</h4>   
        </div>
    </div><hr>
    <div class="row">
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/EHRWOhjIrDU?si=W7iEvJFavg9Z8L-G" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h4  class="shu">What is Ashwagandha? The Top Benefits & If You Should Take It | Myprotein</h4>  
        </div>
    </div><hr>
    <div class="row">
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Ln3W9k9GVIE?si=hR9edLZ0fJrvi2PO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h4 class="shu" style="transform: translate(100%,-600%);">Health Benefits Tulsi | Holy Basil Benefits </h4>
        </div>
    </div><hr>
    <div class="row">
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3SIDzthev3o?si=crHJzth0T2-qmr9r" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h4 class="shu" style="transform: translate(100%,-600%);">Flowers / 24 / Solanum trilobatum / Beautiful flowers</h4>
        </div>
    </div><hr>
    
    <div class="row">
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/W9Exx5wU48w?si=SBOgQSnYO97Uxs3K" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h4 class="shu">Exploring the Benefits of Devil's Claw: Nature's Remedy for Inflammation and Mobility</h4>
        </div>
    </div><hr>
    <div class="row">
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/LwAvkKmiQRE?si=SJfBm2RhGhHaaTdR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h4 class="shu" style="transform: translate(100%,-600%);">Pure Radiance (Salix Alba (Willow) Bark Extract)</h4>
        </div>
    </div><hr>
    <div class="row">
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DaJAt3FHXYU?si=Er3YQxFc6TWfX-Eg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h4 class="shu">The forgotten medicine plant unbelievable Health Benefits of False Daisy or bhangra or Bhringraj</h4>
        </div>
    </div><hr>
    <div class="row">
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/sXzf8nWjzIQ?si=8TrVOP3jFvQgutAc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h4 class="shu" style="transform: translate(100%,-600%);">Happiness and optimism--Cuban Oregano</h4>
        </div>
    </div><hr>
    <div class="row">
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/F06wSDOyIqM?si=lTfS-6S66fyudjVM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h4 class="shu">3 Amazing Benefits of Aloe Vera for Skin, Hair and Health | Natural Healing Method</h4>
        </div>
    </div><hr>
    <div class="row">
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/r8Hcx9w038M?si=qSQ1r2rgxGp1KwyC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h4 class="shu">Celery Seed: Unlocking the Health Benefits & Side Effects | Natural Remedies</h4>
        </div>
    </div><hr>
    <div class="row">
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fj7h5E_E-5w?si=xUnFO69zsvrrfhNx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h4 class="shu" style="transform: translate(100%,-600%);">TOP 5 BENEFITS OF LAVENDER - HERB SPOTLIGHT</h4>
        </div>
    </div><hr>
    <div class="row">
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/eOAG7ZEmhQY?si=M5BaEtYUPtc7B3SK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h4 class="shu">Arnica Harvesting and Uses with Herbalist Yarrow Willard | Harmonic Arts</h4>
        </div>
    </div><hr>
    <div class="row">
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-1kpF9e70R0?si=zOBwo8q5CZXXsIwi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h4 class="shu">15 Health Benefits Of Chili Peppers That Will Surprise You❗️</h4>
        </div>
    </div><hr>
    <div class="row">
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/CqjuGEaffpg?si=5rLRKxRLCqiZ4nsv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h4 class="shu" style="transform: translate(100%,-600%);">Health Benefits of Boswellia for Your Body and Mind</h4>
        </div>
    </div><hr>
<div class="row">
    <div class="col-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LdniAMoHbew?si=bmWSuLLESMVqK2Hd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <h4 class="shu">7 health benefits of bilberry | Interesting to know | Keep it in mind</h4>
    </div>
</div><hr>
<div class="row">
    <div class="col-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IBvUJluIBu0?si=GqjKf8W0N2gqbeDZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <h4 class="shu">8 Benefits of Rosemary You Should Know! | Rosemary Uses and Benefits</h4>
    </div>
</div><hr>
    </div>
</div>
<div style="background-image: url('../../assets/images/new1.png.png');background-repeat: no-repeat;background-size: cover;height: 700px;" >

    <div style="background-color: green; height: 100px;"></div>
    <h1 style=" font-size: 40PX;

font-weight: bolder;
color: whitesmoke; transform: translate(5px,-150%);">HERB</h1>
    <h1 style="font-size: 40px; padding-inline: 6pc; transform: translate(15px,-128PX);font-weight: bold;">ALI</h1>
    <h1 style="transform: translate(165px,-225px);font-style: italic;font-size: 100px;">X</h1>


    <div id="contact" >
        <div #contactSection>
    <div class="container" style="transform: translate(0px,-150px); color: white;">
    <div class="row">
    <div class="col-4">
            <h2 class="swe">Herbalix</h2>
            A108 Adam Street <br>
            Chennai, CH 535022<br><br>
           <b>Phone:</b> +91 8808812065<br>
    <b>Email:</b> herbalix.com
    </div>
    <div class="col-4">
       <h2 class="swe">Useful links</h2> 
       <ul>
        <li> Home </li>
        <li> About Us </li>
        <li> Services </li>
        <li> Team </li>
        <li> Pricing </li>
    </ul>
    </div>
    <div class="col-4">
        <h2 class="swe">Our Services</h2>
        <ul>
            <li> Custom Herbal Formulations </li>
            <li> Herbal Consultations </li>
            <li> Wellness Workshops and Classes </li>
            <li> Herbal Product Line </li>
    
        </ul>
        
    </div>
    </div>
    </div>
    </div>
    </div>

    <br>
    <br>
    
    <div style="text-align: center; color: white;">
    (c) Copyright <b>Herbalix</b> All Rights Reserved
    </div>
    </div>
