.swe{
    text-decoration: underline;
}
.shu{
    transform: translate(100%,-350%);
    
    
}
.container{
    transform: translate(0px,-150px);
    
}
.basha{
    color: white;
}
.swe{
    padding-left: 25%;
}
a:hover{

    color:black;
   }